extends layout

block content
    .container
        h1 About Us
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, tenetur odit, quibusdam nesciunt sint explicabo? Iusto nisi tenetur, obcaecati velit beatae eligendi temporibus, quae facilis, praesentium neque maxime repudiandae molestiae?
        ul
            li Atque, nam. Sint?
            li Quae facilis
            li Beatae eligendi temporibus
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, mollitia, explicabo! Quidem excepturi officia, ex, vitae voluptates vel adipisci ratione fuga quas perspiciatis error libero quod quis eaque, officiis maxime.
