
extends layout

block content
    .jumbotron
        .container
            h1 How may I help you?
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sint at, nemo laudantium. Ipsa, error facere id amet dolorum repudiandae ex molestiae. Culpa totam distinctio, voluptate tempore fuga obcaecati minus!
            a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid possimus libero pariatur non quas odio laboriosam neque dicta ipsum, voluptas officiis accusamus doloremque sapiente repellendus hic nemo temporibus doloribus beatae.
                a.btn.btn-default(href="#") View Details
            .col-md-4
                h2 Services
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat impedit a aperiam molestiae eveniet, maxime ad voluptate illo et quisquam sed quo mollitia consectetur quas nisi, corporis ipsum corrupti inventore.
                a.btn.btn-default(href="#") View Details
            .col-md-4
                h2 Get In Touch
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At impedit eum itaque? Accusantium, id eaque veniam alias voluptatum suscipit nobis, quo distinctio totam. Suscipit necessitatibus deserunt perferendis nobis eos ipsam.
                a.btn.btn-default(href="#") View Details